/*---- animationbutton ---*/

/* required：
<button><span>hover me</span></button> */

/* .head_banner_img {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 60px;
  width: 210px;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid rgba(22, 76, 167, 0.6);
}
button span {
  color: #164ca7;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
} */
.head_cta {
  /* animation: rotate 0.7s ease-in-out both; */
}
/* button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
} */

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

/* =====  humberger menu  ===== */
#menu-btn-check {
  display: none;
}
.menu-btn {
  position: fixed;
  right: 10px;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  left: 17%;
  top: clamp(6px, calc(0.375rem + ((1vw - 7.68px) * 3.6458)), 48px);
  opacity: 1;
  display: block;
}
.close_btn {
  position: absolute;
  height: 60px;
  width: 60px;
  z-index: 90;
  top: 5%;
  right: 2%;
  transition: all 0.6s;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after,
.close_btn span:before,
.close_btn span:after {
  content: '';
  display: block;
  height: clamp(2px, calc(0.125rem + ((1vw - 7.68px) * 0.2604)), 5px);
  width: clamp(30px, calc(1.875rem + ((1vw - 3.2px) * 10.6061)), 100px);
  border-radius: 3px;
  background-color: #000;
  position: absolute;
  right: 0;
}
.menu-btn span:before,
.close_btn span:before {
  bottom: clamp(5px, calc(0.3125rem + ((1vw - 7.68px) * 1.2153)), 19px);
  width: clamp(30px, calc(1.875rem + ((1vw - 3.2px) * 6.8182)), 75px);
}
.close_btn span:before {
  width: clamp(15px, calc(0.9375rem + ((1vw - 7.68px) * 3.9063)), 60px);
}
.menu-btn span:after,
.close_btn span:after {
  width: clamp(20px, calc(1.25rem + ((1vw - 3.2px) * 4.5455)), 50px);
}
.menu-btn span:after {
  top: clamp(5px, calc(0.3125rem + ((1vw - 7.68px) * 1.2153)), 19px);
}
.menu-content {
  width: clamp(215px, calc(13.4375rem + ((1vw - 7.68px) * 52.6042)), 821px);
  position: fixed;
  top: 0;
  right: 100%; /*leftの値を変更してメニューを画面外へ*/
  z-index: 80;
  background-color: #e8e8e8;
  transition: all 0.5s; /*アニメーション設定*/
}
.menu-content ul {
  padding: 10% 0 0;
}
.menu-content ul li {
  list-style: none;
  height: clamp(40px, calc(2.5rem + ((1vw - 3.75px) * 3.3657)), 92px);
  display: flex;
  align-items: center;
  text-align: center;
}
.menu-content ul li:nth-of-type(2n-1) {
  background-color: #fff;
}
.menu-content ul li:nth-of-type(2n) {
  background-color: #e8e8e8;
}

.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: clamp(12px, calc(0.75rem + ((1vw - 3.75px) * 0.4531)), 19px);
  box-sizing: border-box;
  color: #000;
  text-decoration: none;
  position: relative;
  letter-spacing: 0.2em;
  font-weight: bolder;
}
.menu-content ul li a::before {
  content: '';
  width: clamp(8px, calc(0.5rem + ((1vw - 7.68px) * 1.1285)), 21px);
  height: clamp(8px, calc(0.5rem + ((1vw - 7.68px) * 1.1285)), 21px);
  border-top: solid clamp(1px, calc(0.0625rem + ((1vw - 7.68px) * 0.1736)), 3px) #000;
  border-right: solid clamp(1px, calc(0.0625rem + ((1vw - 7.68px) * 0.1736)), 3px) #000;
  transform: rotate(45deg);
  position: absolute;
  right: 3%;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 2px 2px 2px 2px;
}
#menu-btn-check:checked ~ .menu-content {
  left: 0; /*メニューを画面内へ*/
}
#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0); /*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .close_btn span::before {
  bottom: 0;
  transform: rotate(45deg);
  width: clamp(16px, calc(1rem + ((1vw - 7.68px) * 1.2153)), 30px);
}
#menu-btn-check:checked ~ .close_btn span::after {
  top: 0;
  transform: rotate(-45deg);
  width: clamp(16px, calc(1rem + ((1vw - 7.68px) * 1.2153)), 30px);
}

#menu-btn-check:checked + .menu-btn {
  display: none;
}

.close_btn span::before {
  transform: rotate(45deg);
  width: clamp(16px, calc(1rem + ((1vw - 7.68px) * 1.2153)), 30px);
  top: 0;
}
.close_btn span::after {
  transform: rotate(-45deg);
  width: clamp(16px, calc(1rem + ((1vw - 7.68px) * 1.2153)), 30px);
}
